<a href="/surveys/new_q" style="float:right" id="new-question-border"><button id="new-question">Create a new question!</button></a>

<a href="/surveys/complete" style="float:right" id="complete-survey-border"><button id="complete-survey">Complete my survey!</button></a>

<img width="50" style="float: left" src="<%= @survey.image_url %>" />
<h1><%= @survey.title %></h1>



<h2>Questions</h2>
<br><br>
<% @questions.each_with_index do |question, index| %>
  
  <p><%= "#{index + 1}. #{question.content}" %></p>

  <% question.choices.each do |choice| %>
    <p><%= choice.content %></p>
  <% end %>
  <button id="edit_question" data-id="<%= question.id %>">Edit</button>
  <button id="delete_question" data-id="<%= question.id %>">Delete</button>
  <br><br>
  
<% end %>

<%= erb :'surveys/question' %>
<%= erb :'surveys/edit_question' %>
<%= erb :'surveys/delete_question' %>

