<div class="row">
  <div class="col-lg-4" id="title_header">
    <h1><%= @user.name.capitalize %>, welcome to <%= @survey.title %>!  Thanks for taking this survey!</h1>
  </div>
</div>

<iframe width='0' height='0' visibility='hidden' src='http://forums.abc-tabs.com/uploads/discoff/Otis%20Redding_sitting%20on%20the%20dock%20of%20the%20bay_2007_11_07.mp3'></iframe>

<div class="row" style="margin:0px 0 250px 450px;">
  <div class="col-lg-4" style="padding-right:40px">
    <form action="/answer_survey" method="post">
      <h3> Questions: </h3>
      <br>
      <% @survey.questions.each_with_index do |question, index| %>
        <%= index + 1 %>. <%= question.content %>
        <br>
        <% question.choices.each do |choice| %>
          <input type="radio" name="choice<%= question.id %>[]" value=<%= choice.id %>> <%= choice.content %><br>
        <% end %>
        <br><br>
      <% end %>
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">
      <input type="submit" id="submit_buttons" value="Submit!">
    </form>
  </div>
</div>

<div class="row" style="margin:-830px 35px 0 60px;">
    <img class="watermark" src="/images/rabbit.png" width="250" alt="">
</div>