 <div class="row">
  <div class="col-lg-5" id="title_header" style="height:100%;width:40%">
    <h2><%= current_user.name.capitalize %>, welcome to</h2>
    <%= "<img width='60' style='margin-bottom:10px' src=\"#{@survey.image_url}\">" if @survey.image_url %><p style="font-size:40px; display:inline">    <%= @survey.title %>!</p>
    <h3><i>Thanks for taking this survey!</i></h3>
  </div>
</div>


<div class="row" style="margin:-135px 0 0 190px">
  <div class="col-lg-7" style="margin-left:40px">
    <form action="/answer_survey" method="post">
     
      <h3> Questions: </h3>
      <br>

      <% @survey.questions.each_with_index do |question, index| %>
        <p><%= index + 1 %>. <%= question.content %></p>
        

        <% question.choices.each do |choice| %>

          <% responded = question_replies(@survey, choice).length > 0 %>

            <% if question.format == "text" %>
              <p><%= choice.content %>: <input type="text" name="choice<%= question.id %>[]" <%= "value=" + reply.find_by_choice_id(choice.id).content if responded %> ></p><br>
        
            <% elsif question.format == "radio" || question.format == "checkbox" %>
        
              <input type=<%= question.format%> name="choice<%= question.id %>[]" value=<%= choice.id %> <%= "checked='checked'" if responded %> > <%= choice.content %><br>
            <% end %>
        <% end %>
        <br><br>

      <% end %>

      <input type="hidden" name="survey_id" value="<%= @survey.id %>">
      <input type="submit" id="submit_buttons" style="float:right" value="Submit!">
    </form>
  </div>
</div>
