<div class="row">
  <div class="col-lg-4" >
    <h1><%= @user.name.capitalize %>, welcome to <%= @survey.title %>!  Thanks for taking this survey!</h1>
  </div>
</div>

<div class="row" style="margin:-20px 0 0 650px;">
  <div class="col-lg-13" style="padding-right:40px">
    <form action="/answer_survey" method="post">
      <h3> Questions: </h3>
      <br>
      <% @survey.questions.each_with_index do |question, index| %>
        <%= index + 1 %>. <%= question.content %>
        <br>
        <% question.choices.each do |choice| %>
          <% if @replies.select {|reply| reply.choice_id == choice.id}.length > 0 %>
            <input type="radio" name="choice<%= question.id %>[]" value=<%= choice.id %> checked='checked'> <%= choice.content %><br>
          <% else %>
            <input type="radio" name="choice<%= question.id %>[]" value=<%= choice.id %>> <%= choice.content %><br>
          <% end %>
        <% end %>
        <br><br>
      <% end %>
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">
      <input type="submit" value="Submit!">
    </form>
  </div>
</div>

<div class="row" style="margin:-830px 35px 0 60px;">
    <img class="watermark" src="/images/rabbit.png" width="250" alt="">
</div>