<% if @error && @error.length > 0 %>
  <div id="myModal" class="reveal-modal">
    <h1>Error!</h1>
    <% @error.each do |error| %>
      <p><%= error %></p>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% end %>

<div class="row" style="margin-top:20px">
  <div class="col-lg-4" id="title_header">
    <h1><i>Great to see you, <%=@user.name.capitalize %>!</i></h1>
  </div>

  <div class="col-lg-4" >
    <div class="well text-center" >
      <p>See (and borrow from) some sample surveys here!</p>
      <br>
      <center><a class="btn btn-info" id="survey-buttons" href="/sample">Sample surveys</a></center>
    </div>
  </div>

  <div class="col-lg-4" >
    <div class="well text-center">
      <p>Use this button to create a random fun survey!</p>
      <br>
      <center><a class="btn btn-info" id="survey-buttons" href="/create">Random survey!</a></center>
    </div>
  </div>
</div>


<div class="row" style="margin-top:20px;">
  <div class="col-lg-6" style="padding-right:40px">
    <h3><center> Surveys Created </center></h3>
    <ul class="list-unstyled">
      <% Survey.where(user_id: @user.id).each do |survey| %>
          <li>
            <div class="row">
              <hr>
              <div class="col-lg-7" style="margin-top:-20px">
                <p style="margin-bottom:0" class="lead" id="survey-url"><%= survey.title %></p>
                <a href="/take_survey/<%= survey.url %>"><p style="font-size:15px"><i><%= "http://localhost:9393/take_survey/#{survey.url}" %></i></p></a>
              </div>
              <div class="col-lg-8" style="width: 120%">
                <a class="btn btn-default" id="edit-button" href="/surveys/edit/<%= survey.id %>">Edit Survey</a>
              <!-- </div>
              <div class="col-lg-4"> -->
                <a class="btn btn-default" id="delete-button" data-id="<%= survey.id %>" href="/surveys/delete/<%= survey.id %>">Delete Survey</a>
                <a class="btn btn-default" href="/survey/<%= survey.id %>">View Results</a>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
    <hr>
  </div>

  <div class="col-lg-6" style="padding-left:40px">
    <% unless @surveys_taken.empty? %>
      <h3><center> Surveys Taken </center></h3>
      <ul class="list-unstyled">
        <% @surveys_taken.each do |survey| %>
            <li>
              <div class="row">
                <hr>
                <div class="col-lg-7">
                  <p class="lead"><%= survey.survey.title %></p>
                  <% if Reply.where(completed_survey_id: survey.id).length >= survey.survey.questions.length %>
                  <p><i>Completed!</i></p>
                  <% end %>
                </div>
                <div class="col-lg-4">
                  <% if Reply.where(completed_survey_id: survey.id).length >= survey.survey.questions.length %>
                    <a class="btn btn-default"  href="/take_survey/<%= survey.survey.url %>">Edit my answers</a>
                  <% else %>
                    <a class="btn btn-default"  href="/take_survey/<%= survey.survey.url %>">Continue survey</a>
                  <% end %>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
      <hr>
    <%end%>
  </div>
  <div class="col-lg-5" style="padding: 20px 0 0 170px">
    <img class="gorilla" src="/images/gorilla.png" width="250" alt="">
  </div>
</div>



