<div class="row">
  <div class="col-lg-4" >
    <h1><%= @user.name.capitalize %>, here is your survey on <%= @survey.title %>!</h1>
  </div>
</div>

<div class="row" style="margin:-20px 0 0 650px;">
  <div class="col-lg-13" style="padding-right:40px">
    <h3> Results: </h3>
    <br>
    <% @questions.each_with_index do |question, index| %>
      <%= index + 1 %>. <%= question.content %>
      <br>
      <% question.choices.each do |choice| %>
        <% choice_count = 0 %>
        <% choice.replies.each do |reply| %>
          <%= "<p>#{reply.content}</p>" if reply.content %>
          <% choice_count += 1 %>
        <% end %>
        <br>
        <% if choice_count > 0 %>
          <%= "<p>Choice: #{choice.content}</p>" %>
          <%= "<p>Number of responses: #{choice_count}</p>" %>
        <% end %>
      <% end %>
      <br><br>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top:-570px;">
  <div class="col-lg-6" style="padding-right:40px">
    <img class="watermark" src="/images/rabbit.png" width="250" alt="">
  </div>
</div>